# Statistics from Stock Data

In this lab we will load stock data into a Pandas Dataframe and calculate some statistics on it. We will be working with stock data from Google, Apple, and Amazon. All the stock data was downloaded from yahoo finance in CSV format. In your workspace you should have a file named GOOG.csv containing the Google stock data, a file named AAPL.csv containing the Apple stock data, and a file  named AMZN.csv containing the Amazon stock data. All the files contain 7 columns of data:

**Date Open High Low Close Adj_Close Volume**

We will start by reading in any of the above CSV files into a DataFrame and see what the data looks like.

In [3]:
# We import pandas into Python
import pandas as pd

# We read in a stock data data file into a data frame and see what it looks like
data = pd.read_csv('./GOOG.csv')

# We display the first 5 rows of the DataFrame
data.head(5)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2004-08-23,56.528118,54.321388,55.168217,54.495735,18342897.0,54.495735
1,2004-08-24,55.591629,51.591621,55.412300,52.239197,15319808.0,52.239197
2,2004-08-25,53.798351,51.746044,52.284027,52.802086,9232276.0,52.802086
3,2004-08-26,53.773445,52.134586,52.279045,53.753517,7128620.0,53.753517
4,2004-08-27,54.107193,52.647663,53.848164,52.876804,6241307.0,52.876804

We clearly see that the Dataframe is has automatically labeled the row indices using integers and has labeled the columns of the DataFrame using the names of the columns in the CSV files.

# To Do

You will now load the stock data from Google, Apple, and Amazon into separte DataFrames. However, for each stock data you will only be interested in loading the `Date` and `Adj Close` columns into the Dataframe. In addtion, you want to use the `Date` column as your row index. Finally, you want the DataFrame to recognize the dates as actual dates (year/month/day) and not as strings. For each stock, you can accomplish all theses things in just one line of code by using the appropiate keywords in the `pd.read_csv()` function. Here are a few hints:

* Use the `index_col` keyword to indicate which column you want to use as an index. For example `index_col = ['Open']`

* Set the `parse_dates` keyword equal to `True` to convert the Dates into real dates of the form year/month/day

* Use the `usecols` keyword to select which columns you want to load into the DataFrame. For example `usecols = ['Open', 'High']`

Fill in the code below:

In [4]:
    # We load the Google stock data into a DataFrame
google_stock = pd.read_csv('./GOOG.csv',usecols=['Date', 'Adj Close'], index_col=['Date'], parse_dates=True )

# We load the Apple stock data into a DataFrame
apple_stock = pd.read_csv('./AAPL.csv', usecols=['Date', 'Adj Close'], index_col=['Date'], parse_dates=True )
                       
# We load the Amazon stock data into a DataFrame
amazon_stock = pd.read_csv('./AMZN.csv', usecols=['Date', 'Adj Close'], index_col=['Date'], parse_dates=True )

You can check that you have loaded the data correctly by displaying the head of the DataFrames.

In [5]:
# We display the google_stock DataFrame
google_stock.head(5)

            Adj Close
Date
2004-08-23  54.495735
2004-08-24  52.239197
2004-08-25  52.802086
2004-08-26  53.753517
2004-08-27  52.876804

You will now join the three DataFrames above to create a single new DataFrame that contains all the `Adj Close` for all the stocks. Let's start by creating an empty DataFrame that has as row indices calendar days between `2000-01-01`  and `2016-12-31`. We will use the `pd.date_range()` function to create the calendar dates first and then we will create a DataFrame that uses those dates as row indices:

In [11]:
# We create calendar dates between '2000-01-01' and  '2016-12-31'
dates = pd.date_range('2000-01-01', '2016-12-31')
date_range = pd.date_range(start='2000-01-01', end='2016-12-31', freq='D')
# We create and empty DataFrame that uses the above dates as indices
all_stocks = pd.DataFrame(index = dates)

# Create an empty DataFrame with the date range as the index
calendar_df = pd.DataFrame(index=date_range)

calendar_df

Empty DataFrame
Columns: []
Index: [2000-01-01 00:00:00, 2000-01-02 00:00:00, 2000-01-03 00:00:00, 2000-01-04 00:00:00, 2000-01-05 00:00:00, 2000-01-06 00:00:00, 2000-01-07 00:00:00, 2000-01-08 00:00:00, 2000-01-09 00:00:00, 2000-01-10 00:00:00, 2000-01-11 00:00:00, 2000-01-12 00:00:00, 2000-01-13 00:00:00, 2000-01-14 00:00:00, 2000-01-15 00:00:00, 2000-01-16 00:00:00, 2000-01-17 00:00:00, 2000-01-18 00:00:00, 2000-01-19 00:00:00, 2000-01-20 00:00:00, 2000-01-21 00:00:00, 2000-01-22 00:00:00, 2000-01-23 00:00:00, 2000-01-24 00:00:00, 2000-01-25 00:00:00, 2000-01-26 00:00:00, 2000-01-27 00:00:00, 2000-01-28 00:00:00, 2000-01-29 00:00:00, 2000-01-30 00:00:00, 2000-01-31 00:00:00, 2000-02-01 00:00:00, 2000-02-02 00:00:00, 2000-02-03 00:00:00, 2000-02-04 00:00:00, 2000-02-05 00:00:00, 2000-02-06 00:00:00, 2000-02-07 00:00:00, 2000-02-08 00:00:00, 2000-02-09 00:00:00, 2000-02-10 00:00:00, 2000-02-11 00:00:00, 2000-02-12 00:00:00, 2000-02-13 00:00:00, 2000-02-14 00:00:00, 2000-02-15 00:00:00, 2000-02-16 00:00:00, 2000-02-17 00:00:00, 2000-02-18 00:00:00, 2000-02-19 00:00:00, 2000-02-20 00:00:00, 2000-02-21 00:00:00, 2000-02-22 00:00:00, 2000-02-23 00:00:00, 2000-02-24 00:00:00, 2000-02-25 00:00:00, 2000-02-26 00:00:00, 2000-02-27 00:00:00, 2000-02-28 00:00:00, 2000-02-29 00:00:00, 2000-03-01 00:00:00, 2000-03-02 00:00:00, 2000-03-03 00:00:00, 2000-03-04 00:00:00, 2000-03-05 00:00:00, 2000-03-06 00:00:00, 2000-03-07 00:00:00, 2000-03-08 00:00:00, 2000-03-09 00:00:00, 2000-03-10 00:00:00, 2000-03-11 00:00:00, 2000-03-12 00:00:00, 2000-03-13 00:00:00, 2000-03-14 00:00:00, 2000-03-15 00:00:00, 2000-03-16 00:00:00, 2000-03-17 00:00:00, 2000-03-18 00:00:00, 2000-03-19 00:00:00, 2000-03-20 00:00:00, 2000-03-21 00:00:00, 2000-03-22 00:00:00, 2000-03-23 00:00:00, 2000-03-24 00:00:00, 2000-03-25 00:00:00, 2000-03-26 00:00:00, 2000-03-27 00:00:00, 2000-03-28 00:00:00, 2000-03-29 00:00:00, 2000-03-30 00:00:00, 2000-03-31 00:00:00, 2000-04-01 00:00:00, 2000-04-02 00:00:00, 2000-04-03 00:00:00, 2000-04-04 00:00:00, 2000-04-05 00:00:00, 2000-04-06 00:00:00, 2000-04-07 00:00:00, 2000-04-08 00:00:00, 2000-04-09 00:00:00, ...]

[6210 rows x 0 columns]

# To Do

You will now join the the individual DataFrames, `google_stock`, `apple_stock`, and `amazon_stock`, to the `all_stocks` DataFrame. However, before you do this, it is necessary that you change the name of the columns in each of the three dataframes. This is because the column labels in the `all_stocks` dataframe must be unique. Since all the columns in the individual dataframes have the same name, `Adj Close`, we must change them to the stock name before joining them. In the space below change the column label `Adj Close` of each individual dataframe to the name of the corresponding stock. You can do this by using the `pd.DataFrame.rename()` function.

In [13]:
# Change the Adj Close column label to Google
google_stock = google_stock.rename(columns={'Adj Close': 'Google'})
# Rename 'Adj Close' to the stock name

# Change the Adj Close column label to Apple
apple_stock = apple_stock.rename(columns={'Adj Close': 'Apple'})

# Change the Adj Close column label to Amazon
amazon_stock =  amazon_stock.rename(columns={'Adj Close': 'Amazon'})

You can check that the column labels have been changed correctly by displaying the datadrames

In [14]:
# We display the google_stock DataFrame
google_stock

                 Google
Date
2004-08-23    54.495735
2004-08-24    52.239197
2004-08-25    52.802086
2004-08-26    53.753517
2004-08-27    52.876804
...                 ...
2020-12-24  1738.849976
2020-12-28  1776.089966
2020-12-29  1758.719971
2020-12-30  1739.520020
2020-12-31  1751.880005

[4120 rows x 1 columns]

In [15]:
# We display the apple_stock DataFrame
apple_stock

                 Apple
Date
2014-09-29   93.514290
2014-10-06   94.556244
2014-10-13   91.683792
2014-10-20   98.771042
2014-10-27  101.380676
...                ...
2018-03-05  179.979996
2018-03-12  178.020004
2018-03-19  164.940002
2018-03-26  167.779999
2018-03-29  167.779999

[184 rows x 1 columns]

In [16]:
# We display the amazon_stock DataFrame
amazon_stock

                Amazon
Date
1997-05-15    0.097917
1997-05-16    0.086458
1997-05-19    0.085417
1997-05-20    0.081771
1997-05-21    0.071354
...                ...
2023-11-29  146.320007
2023-11-30  146.089996
2023-12-01  147.029999
2023-12-04  144.839996
2023-12-05  146.880005

[6684 rows x 1 columns]

Now that we have unique column labels, we can join the individual DataFrames to the `all_stocks` DataFrame. For this we will use the `dataframe.join()` function. The function `dataframe1.join(dataframe2)` joins `dataframe1` with `dataframe2`. We will join each dataframe one by one to the `all_stocks` dataframe. Fill in the code below to join the dataframes, the first join has been made for you:

In [ ]:
# We join the Google stock to all_stocks
all_stocks = all_stocks.join(google_stock)

# We join the Apple stock to all_stocks
all_stocks = all_stocks.join(apple_stock)

# We join the Amazon stock to all_stocks
all_stocks = all_stocks.join(amazon_stock)

You can check that the dataframes have been joined correctly by displaying the `all_stocks`  dataframe

In [ ]:
# We display the all_stocks DataFrame

# To Do

Before we proceed to get some statistics on the stock data, let's first check that we don't have any *NaN* values. In the space below check if there are any *NaN* values in the `all_stocks`  dataframe. If there are any, remove any rows that have *NaN* values:

In [ ]:
# Check if there are any NaN values in the all_stocks dataframe

In [ ]:
# Remove any rows that contain NaN values

You can check that the *NaN* values have been eliminated by displaying the `all_stocks`  dataframe

In [ ]:
# Check if there are any NaN values in the all_stocks dataframe

Display the `all_stocks`  dataframe and verify that there are no *NaN* values

In [ ]:
# We display the all_stocks DataFrame

Now that you have eliminated any *NaN* values we can now calculate some basic statistics on the stock prices. Fill in the code below

In [ ]:
# Print the average stock price for each stock


# Print the median stock price for each stock


# Print the standard deviation of the stock price for each stock  


# Print the correlation between stocks

We will now look at how we can compute some rolling statistics, also known as moving statistics. We can calculate for example the rolling mean (moving average) of the Google stock price by using the Pandas `dataframe.rolling().mean()` method. The `dataframe.rolling(N).mean()` calculates the rolling mean over an `N`-day window. In other words, we can take a look at the average stock price every `N`  days using the above method. Fill in the code below to calculate the average stock price every 150 days for Google stock

In [ ]:
# We compute the rolling mean using a 150-Day window for Google stock
rollingMean =

We can also visualize the rolling mean by plotting the data in our dataframe. In the following lessons you will learn how to use **Matplotlib** to visualize data. For now I will just import matplotlib and plot the Google stock data on top of the rolling mean. You can play around by changing the rolling mean window and see how the plot changes.

In [ ]:
%matplotlib inline

# We import matplotlib into Python
import matplotlib.pyplot as plt

# We plot the Google stock data
plt.plot(all_stocks['Google'])

# We plot the rolling mean ontop of our Google stock data
plt.plot(rollingMean)
plt.legend(['Google Stock Price', 'Rolling Mean'])
plt.show()