In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

2.2.3

In [4]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [5]:
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of:', groceries.size, 'elements')

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of: 4 elements

### 3. Printing attributes - values and index

In [6]:
print('The data in Groceries is: ', groceries.values)
print('The index of Groceries is: ', groceries.index)

The data in Groceries is:  [30 6 'Yes' 'No']
The index of Groceries is:  Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

### 4. Check if index is available in the given series

In [7]:
x = 'bananas' in groceries
y = 'bread' in groceries

print('Is bananas in index label in Groceries: ', x)
print('Is bread an index label in Groceries: ', y)

Is bananas in index label in Groceries:  False
Is bread an index label in Groceries:  True

In [8]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We change the number of eggs to 2
groceries['eggs'] = 2

# We display the changed grocery list
print()
print('Modified Grocery List:\n', groceries)

Original Grocery List:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

Modified Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [9]:
groceries['eggs']

2

In [10]:
groceries[-1]

/tmp/ipykernel_12005/2373390433.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  groceries[-1]

'No'

In [11]:
groceries[[0, 1]]

/tmp/ipykernel_12005/4074591652.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  groceries[[0, 1]]

eggs      2
apples    6
dtype: object

In [12]:
groceries.loc[['eggs', 'apples']]

eggs      2
apples    6
dtype: object

In [13]:
groceries.iloc[[2, 3]]

milk     Yes
bread     No
dtype: object

In [14]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [15]:
groceries['Milk'] = 'No'
groceries

eggs        2
apples      6
milk      Yes
bread      No
Milk       No
dtype: object

In [16]:
groceries.drop('apples', inplace=True)
groceries

eggs       2
milk     Yes
bread     No
Milk      No
dtype: object

## Arithmetic Operations

In [17]:
import pandas as pd
import numpy as np

In [18]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [19]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [20]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [21]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [22]:
np.sqrt(fruits)
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [23]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [24]:
fruits['bananas'] + 2

np.int64(5)

In [25]:
fruits.iloc[0] - 2

np.int64(8)

In [26]:
groceries * 2

eggs          4
milk     YesYes
bread      NoNo
Milk       NoNo
dtype: object

### Manipulating series

In [27]:
import pandas as pd

# DO NOT CHANGE THE VARIABLE NAMES

# Given a list representing a few planets
planets = ['Earth', 'Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the distance of each of these planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]

In [28]:

dist_planets = pd.Series(data = distance_from_sun, index = planets)
# TO DO: Create a Pandas Series "dist_planets" using the lists above, representing the distance of the planet from the Sun.
# Use the `distance_from_sun` as your data, and `planets` as your index.
print(dist_planets)

Earth       149.6
Saturn     1433.5
Venus       108.2
Mars        227.9
Jupiter     778.6
dtype: float64

In [29]:
import math

time_light = dist_planets / 18
print(time_light)
# TO DO: Calculate the time (minutes) it takes light from the Sun to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.

Earth       8.311111
Saturn     79.638889
Venus       6.011111
Mars       12.661111
Jupiter    43.255556
dtype: float64

In [30]:
# TO DO: Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40]

### Notebook grading
import math
distance_from_sun1 = [149.6, 1433.5, 108.2, 227.9, 778.6]
planets1 = ['Earth','Saturn', 'Venus', 'Mars', 'Jupiter']
dist_planets1 = pd.Series(data = distance_from_sun, index = planets)
time_light1 = dist_planets1 / 18
close_planets1 = time_light1[time_light1 < 40]

if not dist_planets1.equals(dist_planets):
    print("dist_planets is incorrect")
elif  not time_light1.equals(time_light):
    print("time_light is incorrect. Verify that it is created by dividing dist_planets by 18.")
elif not close_planets1.equals(close_planets):
    print("close_planets is incorrect. Verify that `close_planets` is created by using `time_light < 40` as a boolean index in `time_light`")
else:
    print("Nice work!")

Nice work!

## DataFrames

In [31]:
import pandas as pd

# this is a dictionary
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

print(type(items))

<class 'dict'>

In [32]:
# DataFrames are displayed like excel sheets

shopping_carts = pd.DataFrame(items)

shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [33]:
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [34]:
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [35]:
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [36]:
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [37]:
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])

alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [38]:
data = {'Integers': [1, 2, 3],
       'Floats': [4.5, 8.2, 9.6]}

friends = {'Stacey': pd.Series([20, 2.2], ['age', 'course'])}
df = pd.DataFrame(data)
df1 = pd.DataFrame(friends)

# df
df1

        Stacey
age       20.0
course     2.2

In [39]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)
store_items1 = pd.DataFrame(items2, index = ['store 1', 'store2'])
store_items1

# We display the DataFrame
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [40]:
print(store_items)

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [41]:
print(store_items[['bikes']])

   bikes
0     20
1     15

In [45]:
print(store_items[['bikes', 'pants']])
# print(store_items.loc[['store 1']])
store_items['shirts'] = [15, 2]
store_items

store_items['suits'] = store_items['pants'] + store_items['shirts']

store_items

   bikes  pants
0     20     30
1     15      5

   bikes  pants  watches  glasses  shirts  suits
0     20     30       35      NaN      15     45
1     15      5       10     50.0       2      7

In [54]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]
new_store = pd.DataFrame(new_items, index = ['store 3'])
new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

In [57]:
store_items['new watches'] = store_items['watches'][1:]
store_items

# store_items.insert(4, 'shoes', [8,5,0])
# store_items

ValueError: cannot reindex on an axis with duplicate labels

In [55]:
# append the row to the dataFrame
store_items = pd.concat([store_items, new_store])
store_items

         bikes  pants  watches  glasses  shirts  suits
0           20     30       35      NaN    15.0   45.0
1           15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN
store 3     20     30       35      4.0     NaN    NaN
store 3     20     30       35      4.0     NaN    NaN
store 3     20     30       35      4.0     NaN    NaN
store 3     20     30       35      4.0     NaN    NaN

In [ ]:
store_items.insert(4, 'shoes', [8,5,0])
store_items

In [ ]:
# to delete one column from a dataFrame
store_items.pop('new watches')
store_items
# to delete multple columns from a dataFrame
store_items = store_items.drop(['watches', 'shoes'], axis = 1)
store_items

In [ ]:
store_items = store_items.drop(['store 2', 'store 1'], axis = 0)

# we display the modified DataFrame
store_items

In [ ]:
# We change the column label bikes to hats
store_items = store_items.rename(columns = {'bikes': 'hats'})

# we display the modified DataFrame
store_items

In [61]:
# We change the row label from store 3 to last store
store_items = store_items.rename(index = {'store 3': 'last store'})

# we display the modified DataFrame
store_items

            bikes  pants  watches  glasses  shirts  suits
0              20     30       35      NaN    15.0   45.0
1              15      5       10     50.0     2.0    7.0
last store     20     30       35      4.0     NaN    NaN
last store     20     30       35      4.0     NaN    NaN
last store     20     30       35      4.0     NaN    NaN
last store     20     30       35      4.0     NaN    NaN
last store     20     30       35      4.0     NaN    NaN

In [ ]:
# We change the row index to be the data in the pants column
store_items = store_items.set_index('pants')

# we display the modified DataFrame
store_items

## Dealing with NaN

In [62]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# create a dataframe and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store3'])

# we display the dataframe
store_items

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store3      20     30       35     NaN     10    NaN      4.0

In [64]:
# isnull() is a boolean dataframe of the ame size as store_items and indicates with true the elements that have NaN values and with False the elements that are not.
x = store_items.isnull().sum().sum()

print('Number of NaN values in our DataFrame: ', x)

Number of NaN values in our DataFrame:  3

In [65]:
store_items.isnull()

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1  False  False    False   False  False  False     True
store 2  False  False    False   False  False  False    False
store3   False  False    False    True  False   True    False

In [66]:
store_items.isnull().sum()

bikes      0
pants      0
watches    0
shirts     1
shoes      0
suits      1
glasses    1
dtype: int64

In [69]:
print()
print('Number of non-NaN values in the columns of our DataFrame: \n', store_items.count())

Number of non-NaN values in the columns of our DataFrame:
 bikes      3
pants      3
watches    3
shirts     2
shoes      3
suits      2
glasses    2
dtype: int64

## Eliminating NaN Values

In [71]:
# we can either delete or replace the NaN values in the dataset
# we do this using the .dropna(axis)
store_items.dropna(axis = 0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0

In [73]:
store_items

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store3      20     30       35     NaN     10    NaN      4.0

In [74]:
store_items.dropna(axis = 1)

         bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store3      20     30       35     10

In [75]:
# we can choose to replace the NaN values
store_items.fillna(0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store3      20     30       35     0.0     10    0.0      4.0

In [78]:
# also use the fillna() method to replace NaN values with previous values 
# this is know as forward filling
store_items.fillna(method = 'ffill', axis = 0)

/tmp/ipykernel_12005/2304391187.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  store_items.fillna(method = 'ffill', axis = 0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store3      20     30       35     2.0     10    7.0      4.0

In [81]:
store_items.fillna(method = 'ffill', axis = 1)

/tmp/ipykernel_12005/1129337997.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  store_items.fillna(method = 'ffill', axis = 1)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store3    20.0   30.0     35.0    35.0   10.0   10.0      4.0

In [82]:
# to replace NaN values with the next value in the column

store_items.fillna(method = 'backfill', axis = 0)

/tmp/ipykernel_12005/2913849591.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  store_items.fillna(method = 'backfill', axis = 0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0     50.0
store 2     15      5       10     2.0      5    7.0     50.0
store3      20     30       35     NaN     10    NaN      4.0

In [ ]:
# we replace NaN values with the next value in the row
store_items.fillna(method = 'backfill', axis = 1)